<div class="container-fiuld user">
  <div class="row">
    <div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
      <ul>
        <li class="active">
          <%= link_to "アカウント", users_show_path %>
        </li>

        <li class="">
          <%= link_to "プロフィール", users_profile_path %>
        </li>
      </ul>
    </div>

   <h3>プロフィール</h3>
   <div class="user-view-box">
      
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>


      <div class="field">
        <div class="form-group">
          <%= f.label :ユーザー名 %><br />
         <div class="col-md-9"><%= @user.name %></div>
        </div>
      </div>

      <div class="update-content">
        <div class="col-md-6">
         <div class="row">
          <div class="icon-box">
           <div class="col-md-9">
            <label class="col-md-3" for="name">プロフィール画像</label>
             <% if @user.image.attached? %>
              <%= image_tag @user.image,class:"icon-image host-icon"%> 
             <% else %>
              <img src="https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png"  alt='アイコン画像' class="icon-image host-icon">
             <% end %> 
           </div>
          </div>
         </div>
        </div>
      </div>

      <div class="update-content">
        <div class="row">
          <%= f.label :introduction, "自己紹介" %><br />
          <div class="col-md-9"><%= @user.introduction %></div>
        </div>
      </div>

      <div class="update-content">
        <div class="row">
          <%= link_to "編集", users_profile_edit_path, class:"col-md-2 btn btn-primary mx-3"%>
        </div>
      </div>

    <% end %>

   </div>
  </div>
</div>

