<div class="container-fiuld user">
   <div class="row">
      <div class="col-md-12 user-view">
         <div class="user-view-box">
            
              <%= form_with model:@reservations do |f| %>

              <div class="update-content">
                 <div class="row">
                    <%= f.label :name, "予約した部屋", class:"col-md-3" %><br>
                    <div class="col-md-9">
                       <%= @room.name %>
                    </div>
                 </div>
              </div>

              <div class="update-content">
                 <div class="row">
                    <%= f.label :start_date, "開始日", class:"col-md-3" %><br>
                    <div class="col-md-9">
                       <%= @reservation.start_date %>
                    </div>
                 </div>
              </div>

              <div class="update-content">
                 <div class="row">
                    <%= f.label :end_date, "終了日", class:"col-md-3" %><br>
                    <div class="col-md-9">
                       <%= @reservation.end_date %>
                    </div>
                 </div>
              </div>

              <div class="update-content">
                 <div class="row">
                    <%= f.label :total_price, "価格", class:"col-md-3" %><br>
                    <div class="col-md-9">
                       <h6><%= @reservation.total_price %>円</h6>
                    </div>
                 </div>
              </div>

              <% end %>

         </div>
      </div>
   </div>
</div>