<div class="container-fiuld reservations">
   <h4 class="pb-4">予約済みルーム一覧</h4>
   <div class="reservations-table">
    <table class="align-middle">
      <thead>
         <tr algin="center">
            <th>ルーム画像</th>
            <th>ルーム名</th>
            <th>ルーム紹介</th>
            <th>合計金額</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>予約確定日時</th>
         </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
           <td><image src=" <%= reservation.room.picture %> " onerror= "this.src='https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png';" class="reservations-image"></td>
           <td><%= reservation.room.name %></td>
           <td><%= reservation.room.introduction %></td>
           <td><%= reservation.room.single_rate * reservation.people * (reservation.end_date - reservation.start_date).to_i %></td>
           <td><%= reservation.start_date %></td>
           <td><%= reservation.end_date %></td>
           <td><%= reservation.created_at.strftime('%Y-%m-%d') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>