<div class="top">
  <div class="top-main">
    <div class="container">
      <div class="row col-log-6">
        <div class="form-fream">
          <div class="form-area">
            <p class="form-area-title mb-4">Potepan Shareでまだ体験したことのない旅をしよう</p>
            <%= search_form_for @q, url: search_rooms_path do |f| %>
               <%= f.label :address_cont, 'エリア' %>
               <br>
               <%= f.search_field :address_cont, placeholder:'東京' %>
               <%= f.submit '探す', class: "form-control, btn-primary, mb-4" %>
            <% end %>
          </div>
        </div>
      </div>     
    </div>
  </div>
  <div class="container">
    <div class="panel-area m-5">
      <h1 class="section-title">おすすめのエリア</h1>

      <div class="row">
        <div class="panel-item col-lg-3 col-3">
          <span>東京</span>
          <%= link_to image_tag("https://rails-02-sample.herokuapp.com/assets/home/recommend-area/tokyo.jpg", class: "panel-image"), search_rooms_path(q:{address_cont: "東京"}) %>
        </div>

        <div class="panel-item col-lg-3 col-3">
          <span>大阪</span>
          <%= link_to image_tag("https://rails-02-sample.herokuapp.com/assets/home/recommend-area/osaka.jpg", class: "panel-image"), search_rooms_path(q:{address_cont: "大阪"}) %>
        </div>

        <div class="panel-item col-lg-3 col-3">
          <span>京都</span>
          <%= link_to image_tag("https://rails-02-sample.herokuapp.com/assets/home/recommend-area/kyoto.jpg", class: "panel-image"), search_rooms_path(q:{address_cont: "京都"}) %>
        </div>

         <div class="panel-item col-lg-3 col-3">
          <span>札幌</span>
          <%= link_to image_tag("https://rails-02-sample.herokuapp.com/assets/home/recommend-area/sapporo.jpg", class: "panel-image"), search_rooms_path(q:{address_cont: "札幌"}) %>
        </div>

      </div>  
    </div>
  </div>
</div>



